@import 'styles/_variables'

.footer-main
  padding: 3rem 1rem
  background: $red
  @media(max-width: $sm)
    padding: 1rem
  ul
    text-align:  center
    margin: 0
    li
      display: inline-block
      margin: 0
      margin-right: 1rem
      @media(max-width: $sm)
        display: block
        margin-bottom: 1rem
      a
        margin: 0
        color: $grey-light
        font-size: 1.15em
