.nav-main
  position: fixed
  top: 0
  left: 0
  width: 100%
  ul
    text-align: right
    margin: 1rem 2rem
    li
      display: inline-block
      margin: 0 1rem
      a
        color: #fff
        text-decoration: none
        text-transform: uppercase
        letter-spacing: .1em
